.chat-screen__texts{
    padding: 0;
    list-style-type: none;
}
.chat-screen__texts > .text{
    background-color: blanchedalmond;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;
}
.chat-screen__texts > .text::after{
    content: "";
    border-right: 16px solid burlywood; 
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    left: -10px;
}
.chat-screen__texts > .text:hover{
    background-color: darkgoldenrod;
    transition: backround-color 800ms 100ms ease-in;
}
.chat-screen__texts > .text:hover::after{
    border-right: 16px solid burlywood;
    transition: backround-color 800ms 100ms ease-in;
}
